<!DOCTYPE html>
<html>
<head>
	<title>Multiplayer</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<canvas id="world"></canvas>

<script src="index.js"></script>
</body>
</html>